name: OWASP ZAP Baseline Scan

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  zap_scan:
    runs-on: ubuntu-latest
    name: Scanar a aplicação web com ZAP

    # Inicia o Juice Shop como um serviço
    services:
      juiceshop:
        image: bkimminich/juice-shop
        # Mapeia a porta 3000 do container para a porta 3000 do host
        ports:
          - 3000:3000

    steps:
      - name: Checar o código (Checkout)
        uses: actions/checkout@v3
      
      # Roda o ZAP Scan
      - name: ZAP Scan
        uses: zaproxy/action-baseline@v0.11.0
        with:
          # ---- ESTA É A CORREÇÃO PRINCIPAL ----
          # O ZAP (que roda no 'host') acessa o serviço 'juiceshop'
          # através do 'localhost' do host.
          target: 'http://localhost:3000'
          
          # Nós removemos o 'cmd_options' e o 'rules.yaml' 
          # para evitar todos os erros de permissão e formato.
